<% if current_user.teacher? && @lectures.empty? %>
  <p>You have no lectures.</p>
<% end %> 
<% @lectures.each do |lecture| %>
  <p><%= link_to lecture.name, lecture %></p>
<% end %>
<% if current_user.teacher? %>
  <p><a href="/lectures/new" class="link-button green-button">Create New Lecture</a></p>
<% end %>