<h2><%= @lecture.name %></h2>
<p><%= @lecture.description %></p>
<% if @lecture.assignments.empty? %>
  <p>This lecture has no assignments.</p>
<% end %>
<% @lecture.assignments.each do |assignment| %>
  <p><%= link_to assignment.name, assignment %></p>
<% end %>
<p><a href="/lectures/<%= @lecture.id %>/assignments/new" class="link-button green-button">Create New Assignment</a></p>
